<ion-header [translucent]="true">
</ion-header>




<!-- Toggles in a List -->
<ion-content>

  <br>
  <br>
  <ion-title style="font-size: 250%; font-family:Fantasy; text-align: center; margin: 10%;" size="large">Activar alarma</ion-title>



  
<div class="mid" style="margin: 10%;">

  <label class="rocker">
    <input type="checkbox" [(ngModel)]="checked" checked (click)=switched($event)>
    <span class="switch-left" >Si</span>
    <span class="switch-right" >No</span>
  </label>

</div>




<!--br>
accelerationX {{accelerationX}}
<br>
accelerationY {{accelerationY}}
<br>
accelerationZ {{accelerationZ}}

<br>
<br>

isPhoneMoved {{isPhoneMoved}}
<br>
previousState {{previousState}}


<br>
Heading: {{trueHead}}
<br>
Magnetic z: {{magneticHead}}
<br>
x: {{x}}
<br>
y: {{y}}
<br>
z: {{z}}
<br>
watch x: {{x2}}
<br>
watch y: {{y2}}
<br>
watch z: {{z2}}
<br-->



  

</ion-content>
